apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: reverse-proxy
spec:
  parentRefs:
  - name: cilium-gateway
    namespace: default
  hostnames: []
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /
    backendRefs:
    - name: reverse-proxy
      port: 8080
