@import "tailwindcss";
@source "../../../packages/ui/src";

:root {
  --background: #020617;
  /* slate-950 */
  --foreground: #e2e8f0;
  /* slate-200 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif-jp: "Yu Mincho", "Hiragino Mincho ProN", serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-y: hidden;
  /* App-like feel */
}
