version: "3.9"
services:
  app:
    build: .
    command: ./bin/start
    volumes:
      - .:/app
    ports:
      - "9001:9001"
    environment:
      - HANAMI_ENV=development
      - DATABASE_URL=postgres://postgres:password@db:5432/monolith
      - GRPC_BIND_ADDRESS=0.0.0.0:9001
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:17.7-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=monolith
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - pg-data:/var/lib/postgresql/data
    ports:
      - '5432:5432'

volumes:
  pg-data:
